body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.correct-answer {
  border: solid green 2px;
  background-color: #eeeeff;
  font-size: 200%;
}

.correct-answer .live-label {
  display: none;
}
.correct-answer .live-answer {
  border: none;
  background-color: #eeeeff;
  left: 0px;
}

button.correct {
  border: green solid 3px;
}

button.incorrect {
  border: red solid 3px;
}

button.pending {
  border: yellow dashed 2px;
}

.response-count {
  float: right;
  font-style: oblique;
}

.game-title {
  font-style: oblique;
}

.live-answer {
  background-color: #eeeeee;
  border: 1px solid navy;
  margin: 10px;
  position: relative;
  left: 15px;
}

.live-label {
  position: relative;
  left: -20px;
  font-weight: bold;
}

.row button {
  width: 100%;
  margin: 10px;
}

.answer-remote {
  font-style: oblique;
}

.advance-button {
  height: 70px;
}
