body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.correct-answer {
  border: solid green 2px;
}
.wrong-answer {
  border: solid red 2px;
}

button.accepted {
  border: green solid 3px;
}

button.incorrect {
  border: red solid 3px;
}

.response-count {
  float: right;
  font-style: oblique;
}

.game-title {
  font-style: oblique;
}
