.App {
  text-align: center;
  background-color: #dddddd;
  border: 1px solid black;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 160px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header {
  /* height: 150px; */
  padding: 20px;
}

.App-intro {
  font-size: large;
}
